<?xml version="1.0" encoding="utf-8"?>
<Workspace Key="46291b87-e59e-41a2-9da2-7cf6f0e9f130" Alias="demo" Level="0">
  <Info>
    <Name>Demo</Name>
    <ServiceAccount Key="4fc20353-4d4f-4798-b936-bcb18008e152">automate-demo@example.com</ServiceAccount>
  </Info>
  <UserGroups>
    <UserGroup Key="e5e7f6c8-7f9c-4b5b-8d5d-9e1e5a4f7e4d">admin</UserGroup>
  </UserGroups>
  <AllowedConnections>
    <Connection Key="508820b1-eff1-4a25-9173-24da08074151">devto</Connection>
    <Connection Key="69e083d9-007d-4c55-8242-6e442103ff7b">examples-kitchenSink</Connection>
    <Connection Key="82121e28-9549-400b-8317-55d3948ad518">examples-simple</Connection>
    <Connection Key="850ec3a6-cb35-46ff-98ea-51b20de155c7">googleSheets</Connection>
    <Connection Key="637105b8-da1f-497a-9632-96a0d9cfdb89">mastodon</Connection>
    <Connection Key="656f5b13-c5e1-4522-b121-fc51c6648fcc">pushover</Connection>
    <Connection Key="cdcc9c6b-37f4-4fcf-be59-bb407822e05e">skoda</Connection>
    <Connection Key="52afb147-a4f8-475e-aa6f-5f21a2a1bb4d">weatherApi</Connection>
  </AllowedConnections>
</Workspace>