<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ea713f4-3be9-47d6-8e46-9e5265552c0d" Alias="automateTests" Level="2">
  <Info>
    <Name>Automate tests</Name>
    <Icon>icon-lab</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Holds one test page per connection.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Automate+tests</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="26002030-a56d-437a-aeda-a4e6750fc3f2" SortOrder="0">automateTestDevto</ContentType>
    <ContentType Key="f1fb3f25-2345-45f2-a4b3-c15f7394f5f7" SortOrder="1">automateTestGoogleSheets</ContentType>
    <ContentType Key="db0353b7-e77f-490d-a7f9-a27f9015b842" SortOrder="2">automateTestExamplesKitchenSink</ContentType>
    <ContentType Key="4462a55e-0ec4-46cb-bc0f-e3adc10de098" SortOrder="3">automateTestMastodon</ContentType>
    <ContentType Key="fd74aa8e-0aa3-463d-ac68-a21d02fe7ac5" SortOrder="4">automateTestPushover</ContentType>
    <ContentType Key="6f2e516c-369a-4fab-b8fa-42e358f4b434" SortOrder="5">automateTestExamplesSimple</ContentType>
    <ContentType Key="b14778ac-2a22-4038-8e45-0aad29ac2131" SortOrder="6">automateTestSkoda</ContentType>
    <ContentType Key="be0d93b6-78e5-44b4-923d-c0c52e39024f" SortOrder="7">automateTestWeatherApi</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>