<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b14778ac-2a22-4038-8e45-0aad29ac2131" Alias="automateTestSkoda" Level="2">
  <Info>
    <Name>Škoda test page</Name>
    <Icon>icon-automate-skoda</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Publishing a page of this type starts the "Test: Škoda" automation.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Automate+tests</Folder>
    <Compositions>
      <Composition Key="312343a7-a0a8-4c5f-b469-98adc379ab14">automateTestInstructions</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>