<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="312343a7-a0a8-4c5f-b469-98adc379ab14" Alias="automateTestInstructions" Level="2">
  <Info>
    <Name>Automate test instructions</Name>
    <Icon>icon-info</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Shared by the test page types: tells editors how to test the connection.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Automate+tests</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>51bdd148-c844-4018-b583-cae9f79742c1</Key>
      <Name>How to test</Name>
      <Alias>testInstructions</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To test this connection, click **Save and publish**. A message then tells you whether it works, and if it doesn't, why.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="testThisConnection">Test this connection</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ead1597d-48f2-4d86-b7f6-73f8bbca5a07</Key>
      <Caption>Test this connection</Caption>
      <Alias>testThisConnection</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>