<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="26002030-a56d-437a-aeda-a4e6750fc3f2" Alias="automateTestDevto" Level="2">
  <Info>
    <Name>DEV Community test page</Name>
    <Icon>icon-automate-devto</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Publishing a page of this type starts the "Test: DEV Community" automation.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Automate+tests</Folder>
    <Compositions>
      <Composition Key="312343a7-a0a8-4c5f-b469-98adc379ab14">automateTestInstructions</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>