<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db0353b7-e77f-490d-a7f9-a27f9015b842" Alias="automateTestExamplesKitchenSink" Level="2">
  <Info>
    <Name>Kitchen Sink Example (httpbin.org) test page</Name>
    <Icon>icon-automate-kitchensink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Publishing a page of this type starts the "Test: Kitchen Sink Example (httpbin.org)" automation.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Automate+tests</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>