<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd74aa8e-0aa3-463d-ac68-a21d02fe7ac5" Alias="automateTestPushover" Level="2">
  <Info>
    <Name>Pushover test page</Name>
    <Icon>icon-automate-pushover</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Publishing a page of this type starts the "Test: Pushover" automation.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Automate+tests</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>