<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f2e516c-369a-4fab-b8fa-42e358f4b434" Alias="automateTestExamplesSimple" Level="2">
  <Info>
    <Name>Simple Example (httpbin.org) test page</Name>
    <Icon>icon-paper-plane</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Publishing a page of this type starts the "Test: Simple Example (httpbin.org)" automation.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Automate+tests</Folder>
    <Compositions>
      <Composition Key="312343a7-a0a8-4c5f-b469-98adc379ab14">automateTestInstructions</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>