<?xml version="1.0" encoding="utf-8"?>
<Content Key="066ffbd6-5d5a-474a-b925-ea3b8cb73b9a" Alias="Automate tests" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AutomateTests</Path>
    <Trashed>false</Trashed>
    <ContentType>automateTests</ContentType>
    <CreateDate>2026-10-04T11:35:42</CreateDate>
    <NodeName Default="Automate tests" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>