<?xml version="1.0" encoding="utf-8"?>
<Content Key="86a77552-f811-4bcc-914c-8028902702aa" Alias="DEV Community" Level="2">
  <Info>
    <Parent Key="066ffbd6-5d5a-474a-b925-ea3b8cb73b9a">Automate tests</Parent>
    <Path>/AutomateTests/DEVCommunity</Path>
    <Trashed>false</Trashed>
    <ContentType>automateTestDevto</ContentType>
    <CreateDate>2026-10-04T11:35:44</CreateDate>
    <NodeName Default="DEV Community" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>