<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6208416-5c55-48b5-9c25-c25d64fb0fdd" Alias="Google Sheets" Level="2">
  <Info>
    <Parent Key="066ffbd6-5d5a-474a-b925-ea3b8cb73b9a">Automate tests</Parent>
    <Path>/AutomateTests/GoogleSheets</Path>
    <Trashed>false</Trashed>
    <ContentType>automateTestGoogleSheets</ContentType>
    <CreateDate>2026-10-04T11:35:44</CreateDate>
    <NodeName Default="Google Sheets" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>