<?xml version="1.0" encoding="utf-8"?>
<Content Key="59a8f063-38fc-4ed7-98fa-92e16e359e43" Alias="Kitchen Sink Example (httpbin.org)" Level="2">
  <Info>
    <Parent Key="066ffbd6-5d5a-474a-b925-ea3b8cb73b9a">Automate tests</Parent>
    <Path>/AutomateTests/KitchenSinkExampleHttpbinorg</Path>
    <Trashed>false</Trashed>
    <ContentType>automateTestExamplesKitchenSink</ContentType>
    <CreateDate>2026-10-04T11:35:44</CreateDate>
    <NodeName Default="Kitchen Sink Example (httpbin.org)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>