<?xml version="1.0" encoding="utf-8"?>
<Content Key="0356e9b6-f699-4ec7-8989-74433463b9e0" Alias="Mastodon" Level="2">
  <Info>
    <Parent Key="066ffbd6-5d5a-474a-b925-ea3b8cb73b9a">Automate tests</Parent>
    <Path>/AutomateTests/Mastodon</Path>
    <Trashed>false</Trashed>
    <ContentType>automateTestMastodon</ContentType>
    <CreateDate>2026-10-04T11:35:44</CreateDate>
    <NodeName Default="Mastodon" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>