<?xml version="1.0" encoding="utf-8"?>
<Content Key="66ad0cfc-e430-471f-bd84-cd550eec3396" Alias="Pushover" Level="2">
  <Info>
    <Parent Key="066ffbd6-5d5a-474a-b925-ea3b8cb73b9a">Automate tests</Parent>
    <Path>/AutomateTests/Pushover</Path>
    <Trashed>false</Trashed>
    <ContentType>automateTestPushover</ContentType>
    <CreateDate>2026-10-04T11:35:45</CreateDate>
    <NodeName Default="Pushover" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>