<?xml version="1.0" encoding="utf-8"?>
<Content Key="00843e4d-fc74-421d-b766-0f4923ec0bea" Alias="WeatherAPI.com" Level="2">
  <Info>
    <Parent Key="066ffbd6-5d5a-474a-b925-ea3b8cb73b9a">Automate tests</Parent>
    <Path>/AutomateTests/WeatherAPIcom</Path>
    <Trashed>false</Trashed>
    <ContentType>automateTestWeatherApi</ContentType>
    <CreateDate>2026-10-04T11:35:45</CreateDate>
    <NodeName Default="WeatherAPI.com" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>