<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b97f0a5-9aa0-45b1-a320-baebefbf3ec6" Alias="Škoda" Level="2">
  <Info>
    <Parent Key="066ffbd6-5d5a-474a-b925-ea3b8cb73b9a">Automate tests</Parent>
    <Path>/AutomateTests/Skoda</Path>
    <Trashed>false</Trashed>
    <ContentType>automateTestSkoda</ContentType>
    <CreateDate>2026-10-04T11:35:45</CreateDate>
    <NodeName Default="Škoda" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>